
<h3 class="sody" style="color: blue; margin-left: 30px;"> Hello!!!. Welcome Back Mrs Blessing</h3>
<header>
    <h2 class="vault">Till Account</h2>
    </header>

    <body  class="cody">
        <h4>Balanced Till from Previous Day: <span style="margin-left: 10px;"> ₦ 0.00 </span></h4> 
        <div>
        <h4> Till Total Amount: <span style="margin-left: 10px;"> ₦{{tillTotal | number}} </span></h4>
    </div> 
    <div *ngIf="amount > 1000000">
        <h5>Please maximum input is ₦ 1,000,000 </h5>
    </div>
        </body>
        <div  class="sody">
            
            <h3>Request Cash from Vault <small style="font-size: small;">(max:₦1,000,000)</small></h3>  
            <br>
            <div>
                    <b> Amount: </b> <input  style="height: 30px; width: 120px;" type="number" name="amount" class="form-control" [value]="amount"  [(ngModel)]="amount" >
           </div>
           <br><br>
           <div>
               <h5>Request Approval from Head of Operations (Mr Olumide): </h5> 
               <button style="background-color: khaki;" (click)="request()" [disabled]="btnDisabled" >Send Request</button>
           </div>
        </div>